header
  div.innerHeader
    div.left-innerHeader
      p.logoImg
        img(src="./img/logo.png", alt="news")
      h1.ttl-page 最新のニュース
    //- p.input-text
    //-   input.FnSearch(type="text" placeholder="検索する")
