header
  div.innerHeader.hlpPt8.hlpPb8
    p.logoImg.hlpPl8Sp
      img(src="./img/logo.png", alt="")
    p.btnSelectGenre
      select(name="ジャンルで絞る", required=required)
        option(value="", selected='selected')
            | ジャンルで絞る
        option(value="SPORTS", selected='selected')
            | SPORTS
        option(value="エンタメ", selected='selected')
            | エンタメ
        option(value="", selected='selected')
            | ジャンルで絞る
