doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href="css/reset.css")
    link(rel='stylesheet', href="css/style.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="js/func.js")
  body
    include include/_header.pug
    div
      h1#title
    include include/_footer.pug
